/* Common styles for both pages */
body {
  background-color: #1e1e1e; /* Dark background color */
  color: #cfcfcf; /* Light text color */
  font-family: Arial, sans-serif;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

h1 {
  color: #6b7f94; /* Catpuccino Mocha heading color */
}

a {
  color: #6b7f94; /* Catpuccino Mocha link color */
}
